<div *ngIf="script" class="row">
    <div class="col-12">
        <dl>
            <dt><span jhiTranslate="scriptRepositoryApp.script.name">Name</span></dt>
            <dd>
                <span>{{script.name}}</span>
            </dd>
            <dt><span jhiTranslate="scriptRepositoryApp.script.description">Description</span></dt>
            <dd>
                <span>{{script.description}}</span>
            </dd>
            <dt><span jhiTranslate="scriptRepositoryApp.script.scriptLanguage">Language</span></dt>
            <dd>
                <span>{{'scriptRepositoryApp.ScriptLanguage.' + script.scriptLanguage | translate}}</span>
            </dd>
            <dt><span jhiTranslate="scriptRepositoryApp.script.code">Code</span></dt>
            <dd>
                <pre [class]="getLanguageClass()"><code [class]="getLanguageClass()">{{script.code}}</code></pre>
            </dd>
        </dl>
        <button class="btn" jhiTranslate="entity.action.edit" routerLink="/repository/scripts/{{script.id}}/edit">Edit</button>
        <button class="btn" (click)="back()">Back</button>
    </div>
</div>
